.IsHidden, .Invisible, .Hidden, .HiddenGroup {
 display: none !important;
}

.error-message {
 display: none;
}

.Error .error-message{
 display: inherit;
}

.BackArrowText {
 display: none;
}

.no-scroll {
 overflow: hidden;
}
.k1099_w9Form {
     background-color: rgb(238, 238, 238);
     border: 1px solid rgb(102, 102, 102);
     margin-top: 1rem;
     /*  line-height:normal !important; */
}

.k1099_w9Form ul li {
     list-style-type: none;
     color: #000000 !important;
}

#k1099_w9FormContainer {
     padding: 0;
}

.k1099_w9Form, .k1099_w9Form2 {
     text-align: left;
     margin-left: auto;
     margin-right: auto;
     position: relative;
     width: 650px;
     font-size: 11px;
     padding-bottom: 12px;
}

.k1099_w9Form ul, .k1099_w9Form2 ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
}

.k1099_w9Form label {
     cursor: pointer;
}

.k1099_w9Form input, #k1099_w9Form textarea {
     border: 1px solid #999;
     font-size: 12px;
     padding: 2px;
}

.k1099_w9Form input.k1099_full {
     width: 95%;
}

.k1099_w9Form #k1099_nameBox {
     padding-bottom: 15px;
     border-bottom: 1px solid #333;
}

.k1099_w9Form #k1099_nameBox label {
     display: block;
     padding: 12px 0 5px;
}

.k1099_w9Form #k1099_classBox {
     padding-top: 12px;
     position: relative;
}

.k1099_w9Form #k1099_classBox ul {
     margin: 0;
     padding: 0;
     list-style-type: none;
}

.k1099_w9Form #k1099_classBox ul li {
     margin: 0;
     padding: 3px 0;
}

.k1099_w9Form #k1099_classBox label {
     padding: 0 15px 0 5px;
}

.k1099_w9Form #k1099_classBox .k1099_lftPadd {
     padding-left: 20px;
}

.k1099_w9Form #k1099_myAddy {
     border-top: 1px solid #333;
     position: relative;
}

.k1099_w9Form #k1099_myAddy label {
     display: block;
     padding: 12px 0 5px;
}

.k1099_w9Form #k1099_myAddy .k1099_sublist .k1099_left {
     width: 400px;
     padding-bottom: 10px;
}

.k1099_w9Form #k1099_myAddy .k1099_sublist .k1099_right {
     width: 220px;
     float: right;
     border-left: 1px solid #333;
     padding-bottom: 39px;
}

.k1099_w9Form #k1099_myAddy .k1099_sublist .k1099_right textarea {
     width: 200px;
}

.k1099_w9Form #k1099_actNumBox {
     border-top: 1px solid #333;
     padding-bottom: 12px;
}

.k1099_w9Form #k1099_actNumBox label {
     display: block;
     padding: 12px 0 5px;
}

.k1099_w9Form .k1099_hdrRow {
     border-top: 1px solid #333;
     border-bottom: 1px solid #333;
     font-weight: bold;
     padding: 5px 5px 5px 0px;;
     font-size: 14px;
     position: relative;
}

.k1099_w9Form .k1099_hdrRow .k1099_partNum {
     padding: 5px 10px;
     background-color: #333;
     color: #fff;
     display: inline-block;
     margin-right: 12px;
     position: absolute;
     left: 0;
     top: 0;
}

.k1099_w9Form #k1099_tinBox {
     position: relative;
     padding: 10px 0;
}

.k1099_w9Form #k1099_tinBox .k1099_sublist .k1099_left {
     width: 350px;
}

.k1099_w9Form #k1099_tinBox .k1099_sublist .k1099_right {
     width: 280px;
     position: absolute;
     right: 0;
     top: 0;
}

.k1099_w9Form #k1099_tinBox .k1099_sublist .k1099_right label {
     display: block;
     border: 1px solid #666;
     padding: 2px;
     font-weight: bold;
     margin: 10px 0 5px;
}

@media screen {
     .mobile .k1099_w9Form, .mobile .k1099_w9Form2 {
             width: 100% !important;
     }
     .mobile li {
             display: list-item;
             float: none !important;
             width: 100% !important;
             height: auto !important;
             position: static !important;
             border-left: none !important;
             border-right: none !important;
             clear: both !important;
     }
     .mobile #k1099_w8Head1, .mobile #k1099_w8Head2, .mobile .k1099_a1,
             .mobile .k1099_a2 {
             width: 100% !important;
             border-right: none !important;
     }
     .mobile .k1099_right {
             padding-left: 5px;
             padding-right: 5px;
             padding-bottom: 0 !important;
     }
     .mobile .k1099_checkboxCol {
             width: 100% !important;
             clear: both !important;
     }
     .mobile #k1099_ccorp {
             clear: both !important;
     }
     .mobile #k1099_scorp {
             clear: both !important;
     }
     .mobile #k1099_partner {
             clear: both !important;
     }
     .mobile .k1099_section {
             width: 100% !important;
     }

     .mobile .k1099_width20 {
         width: 100% !important;
     }
     .mobile .k1099_width25 {
         width: 100% !important;
     }
     .mobile .k1099_width30 {
         width: 100% !important;
     }
     .mobile .k1099_width40 {
         width: 100% !important;
     }
     .mobile .k1099_width50 {
         width: 100% !important;
     }
     .mobile .k1099_width60 {
         width: 100% !important;
     }
     .mobile .k1099_width80 {
         width: 100% !important;
     }

}

.k1099_w9Form .k1099_hdrRow .k1099_partNum {
     position: static !important;
}

.k1099_w9Form .k1099_signatureRow {
     margin: 5px;
     height: 40px;
     border-top: 1px solid #333;
     border-bottom: 1px solid #333;
     padding: 2px 5px 2px 5px;
     position: relative;
}

.k1099_w9Form .k1099_signatureRow .k1099_sublist .k1099_left {
     width: 50%;
     position: absolute;
     left: 0;
}

.k1099_w9Form .k1099_signatureRow .k1099_sublist .k1099_right {
     width: 50%;
     position: absolute;
     right: 0;
}



.second-column-simplified-interview #k1099_w8Head1,.second-column-simplified-interview #k1099_w8Head2,.second-column-simplified-interview #k1099_w8Head3{
     width: 100% !important;
     border-right: none !important;
     float: right;
     text-align: center;
     margin-top: 0px !important;
}
.second-column-simplified-interview .k1099_a1,.second-column-simplified-interview .k1099_a2 {
     width: 100% !important;
     border-right: none !important;
     margin-top: 0px !important;
}
.second-column-simplified-interview .k1099_right {
     padding-left: 5px;
     padding-right: 5px;
     padding-bottom: 0 !important;
}
.second-column-simplified-interview .k1099_checkboxCol {
     width: 100% !important;
     clear: both !important;
}
.second-column-simplified-interview #k1099_ccorp {
     clear: both !important;
}
.second-column-simplified-interview #k1099_scorp {
     clear: both !important;
}
.second-column-simplified-interview #k1099_partner {
     clear: both !important;
}
.second-column-simplified-interview .k1099_section {
     width: 100% !important;
}
.second-column-simplified-interview .k1099_hdrRow {
     padding: 0 !important;
     padding-top: 5px !important;
     padding-bottom: 5px !important;
}
.second-column-simplified-interview #k1099_nameBox, .k1099_sublist, #k1099_actNumBox {
     padding-right: 5px !important;
}
.second-column-simplified-interview .k1099_full {
     width: 100% !important;
}
.second-column-simplified-interview .k1099_lftPadd {
     padding: 0 !important;
}
.second-column-simplified-interview #k1099_other_text {
     width: 100% !important;
}
.second-column-simplified-interview #k1099_requestor {
     width: 100% !important;
}
.second-column-simplified-interview #k1099_llcClass {
     width: 100% !important;
}
.second-column-simplified-interview #k1099_classBox label {
     font-weight: bold !important;
}
.second-column-simplified-interview #k1099_estate {
     clear: both !important;
}
.second-column-simplified-interview .k1099_w9Form .k1099_hdrRow .k1099_partNum {
     position: static !important;
}
.second-column-simplified-interview #k1099_signatureDate {
     width: 100% !important;
}
.second-column-simplified-interview #k1099_signature {
     width: 100% !important;
}
.second-column-simplified-interview .k1099_w9Form .k1099_signatureRow {
     height: auto !important;
}
.second-column-simplified-interview .k1099_checkboxCol tr td {
     display: block;
}
.second-column-simplified-interview .k1099_checkboxCol tr td:last-child {
     padding-left: 0px;
}
.second-column-simplified-interview .k1099_row div {
     border-right: 0px !important;
     border-left: 0px !important;
}
.second-column-simplified-interview .k1099_row {
     border-right: 0px !important;
     border-left: 0px !important;
}
.second-column-simplified-interview .k1099_width20 {
     width: 100% !important;
}
.second-column-simplified-interview .k1099_width25 {
     width: 100% !important;
}
.second-column-simplified-interview .k1099_width30 {
     width: 100% !important;
}
.second-column-simplified-interview .k1099_width40 {
     width: 100% !important;
}
.second-column-simplified-interview .k1099_width50 {
     width: 100% !important;
}
.second-column-simplified-interview .k1099_width60 {
     width: 100% !important;
}
.second-column-simplified-interview .k1099_width80 {
     width:100% !important;
}
.second-column-simplified-interview .k1099_checkboxCol {
     white-space: normal !important;
}

.k1099_width20 {
 float: left;
 width: 20%;
 display: block;
}
.k1099_width25 {
 float: left;
 width: 25%;
 display: block;

}
.k1099_width30 {
 float: left;
 width: 30%;
 display: block;
}
.k1099_width40 {
 float: left;
 width: 40%;
 display: block;
}
.k1099_width50 {
 float: left;
 width: 50%;
 display: block;
}
.k1099_width60 {
 float: left;
 width: 60%;
 display: block;
}
.k1099_width80 {
 float: left;
 width: 80%;
 display: block;
}

.k1099_solo td ul {
 padding-left: 10px;
}